*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --ff-primary: Arial, Helvetica, sans-serif;
  --ff-secondary: "Oswald", sans-serif;
  --fs-h2: 2.2rem;
  --fs-small: 1rem;
  --fs-med: 2rem;
  --fs-body: 1.3rem;
}

/* GLOBAL */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fefefe;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.5;
  text-align: center;
}

img {
  max-width: 100%;
  border-radius: 50%;
}

@media (min-width: 850px) {
  body {
    text-align: left;
  }
}

/* TYPOGRAPHY */

.logo {
  font-family: var(--ff-secondary);
  font-size: var(--fs-med);
  color: #000080;
}

.logo strong {
  font-weight: 700;
}

.hero-title,
.section-title {
  color: #000080;
}

.hero-title {
  font-size: 2.8rem;
  margin-bottom: 0;
}

.section-title,
.footer-title {
  font-size: 2.2rem;
}

.hero-title,
.section-title,
.footer-title {
  font-weight: 700;
  font-family: var(--ff-secondary);
}

.skills-section-subtitle {
  font-weight: 700;
}

.skills-section-subtitle,
.card-title {
  margin-bottom: 0;
}

.skills-section-description,
.card-small-description {
  margin-top: 0;
}

a {
  text-decoration: none;
}

.copyright {
  font-size: var(--fs-small);
  opacity: 0.6;
  text-align: center;
}

.copyright {
  font-size: var(--fs-small);
  opacity: 0.6;
}

/* BUTTONS */

.btn-hero {
  display: inline-block;
  margin-top: 1.8rem;
  align-self: center;
  background-color: #000080;
  color: #fff;
  padding: 0.4em 1.3em;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  border-radius: 0.4em;
  transition: all 0.3s;
}

.btn-hero:hover,
.btn-hero:focus {
  transform: scale(1.02);
  background-color: blue;
}

/* LAYOUT */

.main-grid {
  display: grid;
  grid-template-columns: minmax(1.1em, 1fr) minmax(0px, 650px) minmax(1.1em, 1fr);
}

@media (min-width: 850px) {
  .main-grid {
    grid-template-columns: minmax(8%, 1fr) minmax(0px, 1000px) minmax(8%, 1fr);
  }
}

.footer,
.header-content,
.hero,
.main,
.footer {
  grid-column: 2 /-2;
}

/* NAVIGATION */

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5em;
  position: relative;
}

.nav {
  position: fixed;
  background: #333;
  color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translate(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: 700;
  font-size: 2.2rem;
  text-decoration: none;
}

.nav__link:hover {
  opacity: 0.7;
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 1em;
  z-index: 1000;
  outline: none;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open,
.nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
  background: #fff;
  margin-right: 1.6em;
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
  background: #fff;
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: #000;
  width: 2.2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

@media (min-width: 550px) {
  .nav {
    position: unset;
    background-color: unset;
    z-index: 0;
    transform: none;
    transition: none;
  }

  .nav__list {
    height: auto;
    flex-direction: row;
  }

  .nav__link {
    color: #738a94;
    font-size: 1.1rem;
    text-transform: lowercase;
  }

  .nav__item + .nav__item {
    margin-left: 20px;
  }

  .nav-toggle {
    display: none;
  }
}

/* HERO SECTION */

.hero {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
}

.hero-description {
  margin: 0.3em auto 0;
  max-width: 580px;
}

.profile-img {
  width: 75%;
  margin: 0 auto;
  order: -1;
}

@media (min-width: 500px) {
  .profile-img {
    width: 55%;
  }
}

@media (min-width: 620px) {
  .profile-img {
    width: 45%;
  }
  .hero {
    margin-top: 8rem;
  }
}
@media (min-width: 850px) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
  }

  .profile-img {
    margin: 0;
    width: 300px;
    height: 300px;
    order: 1;
    margin-left: 1.5em;
  }

  .btn-hero {
    align-self: flex-start;
  }
}

/* MAIN SECTION */

.section-title {
  margin-bottom: 2rem;
}

.about-me-section,
.skills-section,
.projects-section {
  margin-top: 8rem;
}

@media (min-width: 620px) {
  .about-me-section,
  .skills-section,
  .projects-section {
    margin-top: 10rem;
  }
}

/* ABOUT SECTION */

.about-me-title::before {
  content: " ";
  margin-right: 10px;
}

/* SKILLS SECTION */

.skills-section-title::before {
  content: " ";
  margin-right: 10px;
}

/* PROJECTS */

.projects-section-title {
  margin-bottom: 3rem;
}

.projects-section-title::before {
  content: " ";
  margin-right: 10px;
}

@media (min-width: 850px) {
  .about-me-title::before,
  .skills-section-title::before,
  .projects-section-title::before {
    position: absolute;
    margin-left: -60px;
    margin-right: 0;
  }
}

/* CARD SECTION */

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  max-width: 400px;
  height: 520px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 3rem;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 10%);
  border-radius: 1em;
  // transform: rotate(0);
  // transition: all 0.3s;
}

// .card:hover,
// .card:focus {
//   transform: rotate(-1deg);
// }

.card-img-container {
  display: flex;
  justify-content: center;
  border-radius: 0.8em;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 5%);
  padding: 1em;
  flex-grow: 2;
}

.card-content {
  text-align: left;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 700;
  color: #000080;
  margin-top: 1.2rem;
}

.card-small-description {
  font-weight: 500;
  // color: #525252;
  font-size: 0.8rem;
}

.card-description {
  font-size: 0.9rem;
  font-weight: 400;
  // color: #333;
  margin-top: 1rem;
}

.card-technologies-container {
  margin-top: 1rem;
  display: flex;
}

.card-bubbles-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  max-width: 350px;
}

/* CARD LINKS CONTAINER */

.card-links-container {
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.card-link-icon + .card-link-icon {
  margin-left: 10px;
}

.card-link-icon {
  height: 35px;
  width: 35px;
}

.card-github-icon,
.card-external-icon {
  height: 35px;
  width: 35px;
  transition: all 0.3s;
}

.card-github-icon:hover,
.card-external-icon:hover {
  opacity: 0.8;
  transform: scale(1.03);
}

.card-tech-bubble {
  margin: 0 10px 5px 0px;
  font-size: 0.72rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 78%);
  padding: 0.4em 1.5em;
  border-radius: 2em;
  width: fit-content;
}

.card-img-keepit {
  background-color: #feefc3;
}

.card-img-keepit {
  background-color: #feefc3;
}

.card-img-daily-journal {
  background-color: #17a2b8;
}

.card-img-todo {
  background-color: #ddd;
}

.card-img-pictobook {
  background-color: #863ef7;
}

/* FOOTER */

footer {
  background-color: rgba(0, 0, 0, 78%);
  color: #fff;
  margin-top: 10rem;
  padding-top: 3rem;
}

.footer-title {
  text-align: center;
}

.footer-icons-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 5rem;
  max-width: 320px;
}

.footer-icon {
  width: 45px;
  transition: all 0.3s;
}

.footer-icon-link {
  margin: 0 10px;
  color: #fff;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  opacity: 0.8;
  transform: scale(1.03);
}
