*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --ff-primary: Arial, Helvetica, sans-serif;
  --ff-secondary: "Oswald", sans-serif;
  --fs-h2: 2.2rem;
  --fs-small: 1rem;
  --fs-body: 1.3rem;
}

/* GLOBAL */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.5;
  text-align: center;
}

img {
  max-width: 100%;
}

@media (min-width: 850px) {
  body {
    text-align: left;
  }
}

/* TYPOGRAPHY */

.logo {
  font-family: var(--ff-secondary);
  font-size: var(--fs-small);
  color: #000080;
}

.logo strong {
  font-weight: 700;
}

.hero-title,
.section-title {
  color: #000080;
}

.hero-title {
  font-size: 2.8rem;
  margin-bottom: 0;
}

.section-title,
.footer-title {
  font-size: 2.2rem;
}

.hero-title,
.section-title,
.footer-title {
  font-weight: 700;
}

.skills-section-subtitle {
  font-weight: 700;
}

.skills-section-subtitle,
.card-title {
  margin-bottom: 0;
}

.skills-section-description,
.card-small-description {
  margin-top: 0;
}

a {
  text-decoration: none;
}

.copyright {
  font-size: var(--fs-small);
  opacity: 0.6;
}
